
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1,
header p {
    margin: 0;
    animation: blink 5s infinite;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

nav {
    background-color: #007BFF;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

#projects {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 20px;
}

.project {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h3 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-image {
    max-width: 40%;
    margin-right: 20px;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.profile-image:hover img {
    transform: scale(1.1);
}

.profile-info {
    max-width: 50%;
}


@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        max-width: 80%;
        margin-right: 0;
    }

    .profile-info {
        max-width: 100%;
        margin-top: 20px;
    }

    #projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        max-width: 80%;
        margin: 20px 0;
    }

    .project img {
        width: 100%;
        height: auto;
    }

    .contact-section {
        max-width: 80%;
        padding: 20px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }
}

#about {
    background-color: #f4f4f4;
    padding: 20px;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
}

#about ul {
    list-style: disc;
    padding-left: 20px;
}

#about li {
    margin-bottom: 10px;
}